### pandas

In [ ]:
### 외부 라이브러리 설치
!pip install pandas

In [1]:
## 라이브러리 로드
import pandas as pd

In [2]:
## 스리즈의 형태 
## pd.Series()
pd_list = pd.Series(
    [5000,6000,6500,6500], 
    ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [3]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [4]:
## values값과 index값을 따로 출력
print("스리즈의 values = ", pd_list.values)
print("스리즈의 index = ", pd_list.index)

스리즈의 values =  [5000 6000 6500 6500]
스리즈의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [5]:
pd_list.index = [1,2,3,4]

In [6]:
print(pd_list)

1    5000
2    6000
3    6500
4    6500
dtype: int64

In [7]:
## 데이터프레임 형태의 데이터 생성
values = [[1,2,3], [4,5,6], [7,8,9]]

df = pd.DataFrame(values)

In [8]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
## index 값을 변경 a, b, c
## column 값을 변경 A, B, C
df.index = ["a", "b", "c"]
df.columns = ["A", "B", "C"]

In [11]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [12]:
## 딕셔너리 형태의 데이터를 데이터프레임 형태로 변경
values = {
    "name" : ["A", "B", "C"], 
    "age" : [20, 30, 40], 
    "phone" : ["01012345678", "01098765432", "01056457869"]
}

In [13]:
df_2 = pd.DataFrame(values)
df_2

  name  age        phone
0    A   20  01012345678
1    B   30  01098765432
2    C   40  01056457869

In [15]:
##상단의 행을 기준으로 출력하는 head()
## 상단부터 n번까지 출력하는 함수
df_2.head(2)

  name  age        phone
0    A   20  01012345678
1    B   30  01098765432

In [16]:
df_2.tail(2)

  name  age        phone
1    B   30  01098765432
2    C   40  01056457869

In [21]:
## 컬럼을 기준으로 출력
df_2['name']

0    A
1    B
2    C
Name: name, dtype: object