In [1]:
# 변수 선언
a = 10
b = "test"

## 변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [3]:
a = 'test2'
print(a)

test2

In [4]:
## 불형 데이터
## 참과 거짓의 형태
a = True
print(type(a))

<class 'bool'>

In [5]:
b = (100 > 10)
c = (100 < 10)
d = (100 == 100)
print(b, c, d)

True False True

In [6]:
## 산술 연산자
## 기본적인 사칙연산
a = 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [7]:
c = 2
print(a+b*c)
print((a+b)*c)

13
20

In [13]:
## 대입연산자
a += 5  # a = a + 5
print(a)

37

### 조건문
- if문

In [15]:
a = 11

if a < 10:
    print("a는 10보다 작다")

In [16]:
## if ~ else
a = 20

if a < 10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [22]:
## if ~ elif ~ else문
score = int(input("점수를 입력하세요 :"))
print(score)
print(type(score))
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else :
    print("F")

print("프로그램 종료")

SyntaxError: expected ':' (653704768.py, line 5)

In [ ]:
## 반복문
## for문
for i in range(0,10,1):
    print("%d 번째 반복" %i)

In [ ]:
for i in range(10):
    print("%d 번째 반복" %i)

In [25]:
## 1부터 10까지의 합계
## for문

## 합계 변수 생성
sum = 0

for a in range(1,11,1):
    sum += a
    # sum = sum + a

print(sum)

55

In [ ]:
## 다중 for문
## 구구단

for i in range(2, 10, 1):
    print(str(i)+"단")
    for j in range(1, 10, 1):
        # print("%d X %d = %d"%(i, j, i*j))
        print(str(i) + "X" + str(j) + "=" + str(i*j))

In [31]:
## for문
## 1부터 100까지의 숫자중에 짝수의 합계
## hint : 1부터 100까지 반복 
## if 조건식을 사용해서 짝수인 경우에만 +

## 합계 변수 생성
sum = 0

## 반복문 생성
for i in range(1, 101, 1):
    if i % 2 == 0:
        sum += i

print(sum)

sum = 0 
for i in range(2, 101, 2):
    sum += i
print(sum)

2550
2550

In [32]:
## 다중 for문
## 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값

for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        if i + j == 5:
            print(i, j)

1 4
2 3
3 2
4 1

In [34]:
## while문

## 초기값 지정
i = 0

## while문 시작
while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
## break문 
for i in range(1, 101, 1):
    if i == 5:
        break
    print("%d 번째 반복"%i)

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복

In [39]:
## 1부터 100까지 합계를 구하는중 
## 합계가 500이 넘어가는 숫자와 합계의 값

sum = 0 

for i in range(1, 101, 1):
    sum += i 
    if sum >= 500 :
        break

print('합계가 500 이상이 되는 범위의 숫자', i, '합계는', sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [40]:
print(sum)

528

In [42]:
### while문 

sum = 0 
i = 1

while i <= 100:
    sum += i
    if sum >= 500:
        break
    i += 1

print('합계가 500 이상이 되는 범위의 숫자', i, '합계는', sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [44]:
## continue문
for i in range(1, 10, 1):
    print("%d 번째 반복"%i)
    if i <= 3:
        continue

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [45]:
## 1부터 100까지의 짝수의 합계
sum = 0 

for i in range(1, 101, 1):
    if i % 2 == 1:
        continue
    sum += i

print(sum)

2550

In [46]:
### 튜플
a = (1, 'Hello')
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]

print(a, b, c, d, e)

(1, 'Hello') (3, 3.14) (1, 'Hello', 3, 3.14) (1, 'Hello', 1, 'Hello', 1, 'Hello') Hello

In [47]:
## 숫자 1만 출력하고 싶으면?
print(a[0])

1

In [48]:
a = (10,20,30,40)

In [49]:
print(a[1:3])

(20, 30)

In [50]:
## 30, 40 을 출력하려면?
print(a[2:])

(30, 40)

In [51]:
## list 형태 데이터
a = [20,10,50,5]
b = [10,20,30,40]

In [52]:
## sort() -> 오름차순 정렬로 변경
a.sort()
print(a)

[5, 10, 20, 50]

In [53]:
## reverse() -> 역순으로 정렬을 변경
b.reverse()
print(b)

[40, 30, 20, 10]

In [54]:
## append() -> 리스트의 마지막에 항목 추가
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [56]:
## 리스트의 특징
a = []
print(a)
a.append(10)
print(a)

[]
[10]

In [58]:
## 1부터 70까지 숫자들중에 3의 배수를 리스트로 만들어서 출력

## 비어있는 리스트 생성
l = []

## 1부터 70까지 반복
for i in range(1, 71, 1):
    ## 3의 배수 조건식
    if i % 3 == 0:
        l.append(i)


print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [59]:
for i in [5,7,10]:
    print(i)

5
7
10

In [60]:
sum = 0
for i in l:
    sum += i

print(sum)

828

In [61]:
## 딕셔너리 
## 사전형 데이터 
## {key1 : value1, key2 : value2, ...}
dict = {
    "name" : "test", 
    "age" : 20, 
    "phone" : "01012345678"
}

In [62]:
print(dict["name"])

test

In [63]:
## 새로운 key : value 를 대입
dict['area'] = "seoul"

In [64]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [65]:
## Database에서 데이터를 받아올 때 데이터의 형태
## [ {}, {}, {}]
test_data = [
    {
        "name" : "test1",
        "age" : 20
    }, 
    {
        "name" : "test2", 
        "age" : 30
    }, 
    {
        "name" : "test3", 
        "age" : 40
    }
]

In [67]:
print(test_data[0])

{'name': 'test1', 'age': 20}

In [68]:
print(test_data[0]['name'])

test1

In [71]:
## test_data에서 name의 값들만 리스트의 형태로 출력
name_list = []

for i in test_data:
    name_list.append(i["name"])

print(name_list)

['test1', 'test2', 'test3']

In [73]:
name_list = []

for i in range(0, len(test_data), 1):
    name_list.append(test_data[i]['name'])

print(name_list)

['test1', 'test2', 'test3']