# 볼린저 밴드 투자전략

1. 파일 로드 
2. 결측치와 이상치를 확인 및 제거 
3. 시간과 종가만의 데이터를 가지고 데이터프레임 생성
4. 이동 평균선 : 데이터 20개의 평균을 구해서 새로운 파생변수 생성
5. 상단 밴드 : 이동 평균선 + (2 * 데이터 20개의 표준편차)
6. 하단 밴드 : 이동 평균선 - (2 * 데이터 20개의 표준편차)
7. 구매 상태를 확인하는 파생변수 생성
8. 구매 상태를 입력
9. 수익률 계산

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../csv/AMZN.csv", index_col='Date')
df.head()

                Open      High       Low     Close  Adj Close    Volume
Date
1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [14]:
# 결측치와 이상치를 확인
df[df.isin([np.nan, np.inf, -np.inf]).any(1)]

C:\Users\ezen\AppData\Local\Temp\ipykernel_10900\4009164492.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df[df.isin([np.nan, np.inf, -np.inf]).any(1)]

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [16]:
# 결측치와 이상치를 제외한 데이터프레임을 생성
df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]

C:\Users\ezen\AppData\Local\Temp\ipykernel_10900\482443695.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]

In [20]:
# case1
df[['Adj Close']]
# case2
price_df = df.loc[:, ['Adj Close']]

In [22]:
# 이동 평균선
# 데이터 20개의 평균의 값
# 현재 날짜에서 과거 20일치의 데이터의 평균

price_df['center'] = price_df['Adj Close'].rolling(20).mean()

In [24]:
price_df.iloc[18:25]

            Adj Close    center
Date
1997-06-11   1.541667       NaN
1997-06-12   1.604167  1.574740
1997-06-13   1.583333  1.555990
1997-06-16   1.572917  1.548177
1997-06-17   1.505208  1.538021
1997-06-18   1.510417  1.531771
1997-06-19   1.510417  1.535938